#sidemenu {
    position: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
    height: calc(100% - 64px);
    width: 360px;
    z-index: 1110;
    top: 64px;
    background: white;
    transition: width 0.5s cubic-bezier(0, 1, 0.5, 1);
    opacity: 0;
    border-right: 2px solid lightgrey;
}

.sidemenuSlideOut{
  width: 0 !important;
  border-right: 0px solid lightgrey !important;

}

#sidemenu * {
    transition: opacity 0.5s cubic-bezier(0, 1, 0.5, 1);
}

.sidemenuItem {
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    width: calc(100% - 40px)
}

.sidemenuItem>*:nth-child(-n+2) {
    margin-top: 0px
}


.sidemenuItem>*:last-child {
    margin-bottom: 0px
}

.sidemenuItem .popUpWrapper>*:last-child{
    margin-bottom: 0px
}


#sidemenu .close img{
  width: 11px
}

.sidemenuCollapse {
    /*float: right;*/
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.sidemenuCollapse img {
    width: 12px;
}

.sidemenuItemCollapsed *:not(.sidemenuCollapse):not(.sidemenuCollapseIcon):not(.sidemenuItemTitle) {
    display: none;
}

.sidemenuItemCollapsed .sidemenuItemTitle {
    margin-bottom: 0;
}

.sidemenuItemTitle {
    margin-bottom: 10;
    margin-top: 0;
    color: blue;
}

#sidemenuDescription {
    color: blue
}

#sidemenuLegend .sidemenuLegendInner p {
    font-size: 14px;
    line-height: 31px;
    margin: 0;
    margin-right: 10px;
}

#sidemenuLegend .sidemenuLegendInner .example p {
    margin: 0;
    line-height: 21px;
}

#sidemenuLegend .sidemenuLegendInner .example {
    margin: 0;
    margin-top: 5px;
}

#sidemenuLegend .sidemenuLegendInne .themeImg {
    margin: 0;
    padding: 0;
}

#sidemenuFilters {
    /*display: flex;*/
}

#sidemenuFilters .filterOptionWrapperOuter {
    width: 100%;
}

#sidemenuFilters .filterOptionWrapper {
    width: 50%;
    float: left;
    /*display: block;*/
}

#sidemenuFilters .filterOptionWrapper p {
    margin-top: 0
}

#sidemenuFilters li {
    list-style: none;
}

#sidemenuItemInfo:empty {
    /*background:red;*/
}

#sidemenuItemInfo:empty::after {
    content: "Initiative info (please select one)";
    color: blue;
}

.slide>.fp-tableCell>* {
    margin-left: 360px;
    width: calc(100% - 360px) !important;
}
