.leaflet-popup-content{
  display: table;
  margin: 8px !important;
  min-width: 360px;
  border: 0;
}
.leaflet-popup-content-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 515px;
  border: 1px solid lightgrey;
}

.leaflet-popup-close-button{
  display: none
}

.mapPopupInner{
  /*background: red*/
  /*max-width: 260px;*/
  /*min-width: 250px;*/
  background: white;
  font-size: 16px;
  color: blue;
}

.mapPopupInnerHeader{
  width: calc(100% - 10px);
  margin: 5px;
  margin-bottom: 10px;
  clear: both;
  display: inline-block;

}

.mapPopupInnerHeader p{
  float: left;
}
.mapPopupInnerInitiatives{
  width: 100%;
  clear: both;
}

.mapPopupSingleInitiative{
  border-radius: 100%;
  width: 62px;
  height: 62px;
  margin: 5px;
  background: #505050;
  color: white;
  line-height: 62px;
  text-align: center;
  font-size: 12px;
  float: left;
  cursor: pointer;
}

.mapPopupSingleInitiative:hover {
    /* background-color: blue !important; */
    opacity: 0.5 !important;
}
